@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    transition: background-color 0.15s, color 0.15s;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
.game-card:active{
    background-color: #a8b0bc;
    color: white;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, opacity 0.15s, color 0.15s;
}
button:hover{
    opacity: 0.8;
}
button:active{
    background-color: #a8b0bc ;
    color: white;
    opacity: 1;
}
.search-wrapper{
    text-align:center;
    margin-top: 8px;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 0;
    
}
.games-search{
    display: inline-block;
    
}
form{
    font-family: 'Cabin';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-family: 'Cabin';
}
form input{
    flex:1;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border-style: solid;
}
form button{
    padding: 8px;
    background-color:tomato ; 
    color: white;
    border: none;
    cursor: pointer; 
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    font-weight: bold;
}
.hide{
    display: none;
}